$main-green: #7ac943;
$main-dark-grey: #1a1a1a;
$light-dark-grey: #3a3a3a;
$dim-grey: #696969;
$light-grey: #d3d3d3;
$overlay-grey: rgba(26, 26, 26, 0.5);
$order-list-grey: rgba(26, 26, 26, 0.8);
$text-white: #dedede;
$clear-white: #efefef;
$white: #ffffff;
$red-shadow: #e64c7f;
$order-orange: #f66e0a;