/*newsletter content below the 3 pictures on the home page*/
.newsletter {
  clear: left;
  text-align: center;
  margin: 40px 0 50px;
  h3 {
    color: $main-green;
    font-family: "brandon-grotesque", Helvetica, sans-serif;
  }
  input[type=email] {
    height: 35px;
    width: 300px;
  }
  input[type=submit] {
    width: 100px;
    height: 35px;
    background: $main-green;
    border: 2px solid $clear-white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $clear-white;
  }
}

/*footer etc.*/
.bottom {
  clear: left;
  background-color: $main-dark-grey;
  text-align: center;
}

.social {
  padding: 20px;
  .follow {
    margin: 0 5px 0 5px;
    display: inline;
    img {
      width: 3%;
      @include transition(all, 0.2s, ease-in-out);
      &:hover {
        @include scale(-1, 1);
      }
    }
  }
  p {
    margin: 0;
    padding: 10px;
    color: $text-white;
  }
}

.copyright {
  background-color: $main-green;
  p {
    margin: 0;
    padding: 10px;
    color: $main-dark-grey;
  }
}