* {
  border: 1px dashed black; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

p {
  text-align: center; }

.row {
  margin: 0;
  padding: 0; }

/*background of the header*/
#header, #otherHeader {
  position: relative;
  background: url(../img/background_full.png) no-repeat;
  background-size: cover;
  background-position: center; }
  .shape {
    vertical-align: top;
    width: 100%; }
  .bgCanvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }

/*background of other headers*/
#otherHeader {
  background: url(../img/restaurant_overview.png) no-repeat;
  background-size: cover;
  background-position: center; }
  #otherHeader h5 {
    position: relative;
    top: 30%;
    left: 20%;
    font: bold 1.8em Verdana, Geneva, Tahoma, sans-serif;
    color: #7ac943; }

/*banner*/
#banner, #otherBanner {
  background-color: #1a1a1a;
  opacity: 0.8;
  height: 18%; }

/*other banners*/
#otherBanner {
  height: 34%; }

/*menu button and logo*/
#logoMenu img {
  width: 35%;
  display: inline-block; }
#logoMenu #btnMenu {
  display: inline; }
  #logoMenu #btnMenu i {
    margin-left: 30px;
    vertical-align: middle;
    font-size: 2.5em;
    color: #efefef; }
  #logoMenu #btnMenu #labelMenu {
    background-color: transparent;
    border-style: none;
    vertical-align: middle;
    color: #efefef;
    font-size: 1.8em; }

/*navbar inside the menu*/
.navbar {
  margin-top: 30px;
  padding-left: 0;
  text-align: center;
  display: none; }
  .navbar li {
    list-style: none;
    margin: 10px;
    padding: 5px; }
    .navbar li a {
      color: #dedede;
      font: 1.5em Verdana, Geneva, Tahoma, sans-serif; }

/*register buttons*/
.btnRegister, .btnOtherRegister {
  position: absolute;
  right: 0;
  bottom: 85%; }
  .btnRegister a, .btnOtherRegister a {
    display: inline-block;
    height: 40px;
    width: 120px;
    margin: 20px auto auto 10px;
    padding: 8px;
    font: 1.3em Verdana, Geneva, Tahoma, sans-serif;
    color: #dedede;
    text-decoration: none;
    text-align: center;
    border: 1px solid #efefef; }

/*register buttons other than home page*/
.btnOtherRegister {
  position: absolute;
  top: 5%;
  right: 0; }

/*main page eye catching text and button*/
#mainText h1, #mainText h3 {
  color: #dedede;
  text-align: right; }
#mainText #introText {
  position: absolute;
  top: 55%;
  right: 45%; }
.btnGreen a {
  display: block;
  width: 240px;
  height: 45px;
  background: #7ac943;
  border: 2px solid #efefef;
  text-align: center;
  padding: 10px;
  font: 1.2em Verdana, Geneva, Tahoma, sans-serif;
  color: #efefef; }
#mainText #btnOrder {
  position: absolute;
  top: 75%;
  right: 0; }

/*view locatin content*/
#secondary {
  position: relative;
  background: url(../img/background_texture.png) no-repeat center;
  background-size: cover;
  background-position: center;
  text-align: center; }
  #secondary #secondaryText {
    position: absolute;
    top: 22%; }
    #secondary #secondaryText h3 {
      color: #7ac943;
      font: bold 1em Verdana, Geneva, Tahoma, sans-serif; }
    #secondary #secondaryText p {
      margin-top: 10px;
      font: bold 1em Verdana, Geneva, Tahoma, sans-serif; }
  #secondary #btnLocation a {
    margin: 4% auto; }

/*3 big block elements below view location button*/
#menuWarp :first-child {
  border-left: 12px solid #ffffff; }
#menuWarp :last-child {
  border-right: 12px solid #ffffff; }

/*big menu items*/
.bigMenuItem {
  height: 300px;
  padding: 0;
  border-width: 12px 6px;
  border-style: solid;
  border-color: #ffffff;
  position: relative; }
  .bigMenuItem img {
    width: 100%;
    height: 100%; }
  .bigMenuItem .bigMenuText {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0; }
    .bigMenuItem .bigMenuText h2 {
      padding: 10px;
      font: bold 2em Verdana, Geneva, Tahoma, sans-serif;
      color: #7ac943;
      background: rgba(26, 26, 26, 0.5);
      -webkit-box-shadow: 0 0 50px #1a1a1a;
      -mos-box-shadow: 0 0 50px #1a1a1a;
      -ms-box-shadow: 0 0 50px #1a1a1a;
      box-shadow: 0 0 50px #1a1a1a; }

/*menu content*/
#contentWrapper {
  background: url(../img/background_texture.png) repeat;
  padding: 20px; }
  #contentWrapper #content {
    width: 90%;
    margin: 0 auto; }

/*menu category and each menu item*/
.menuCategory {
  margin: 2% 0 0 0;
  border: 2px solid #7ac943; }
  .menuCategory p {
    background: #7ac943;
    padding: 10px 10px 10px 16px;
    text-align: left;
    font-size: 1.4em;
    margin: 0;
    color: #ffffff; }
  .menuCategory .menuItem {
    padding: 2px; }
    .menuCategory .menuItem img {
      width: 100%; }
    .menuCategory .menuItem .btnItemOrder {
      position: absolute;
      right: 0;
      bottom: 25px;
      background-color: #7ac943;
      border: 1px solid #ffffff;
      color: #efefef; }
    .menuCategory .menuItem p {
      background: transparent;
      height: 24px;
      text-align: center;
      color: #1a1a1a;
      padding: 0; }

.darkMenuBar {
  border: 2px solid #3a3a3a; }
  .darkMenuBar > p {
    background: #3a3a3a; }

/*signUpForm*/
.signUpForm {
  padding: 50px; }

/*newsletter content below big menu buttons*/
#newsletter {
  clear: left;
  text-align: center;
  margin-top: 40px; }
  #newsletter h3 {
    color: #7ac943;
    font-style: "brandon-grotesque", Helvetica, sans-serif; }
  #newsletter input[type=email] {
    height: 35px;
    width: 300px; }
  #newsletter input[type=submit] {
    width: 100px;
    height: 35px;
    background: #7ac943;
    border: 2px solid #efefef;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #efefef; }

/*footer etc.*/
#bottom {
  clear: left;
  margin-top: 50px;
  background-color: #1a1a1a;
  text-align: center; }

#social {
  margin-top: 30px;
  padding: 20px; }
  #social .follow {
    margin: 0 5px 0 5px;
    display: inline; }
    #social .follow img {
      width: 3%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #social .follow :hover {
      -moz-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1); }
  #social p {
    margin: 0;
    padding: 10px;
    color: #dedede; }

#copyright {
  background-color: #7ac943; }
  #copyright p {
    margin: 0;
    padding: 10px;
    color: #1a1a1a; }

/*# sourceMappingURL=stylesheet.css.map */
