/*contact page*/
.contactInfo p, .contactInfo h3 {
  text-align: left;
  padding: 5px 40px;
  margin: 0;
}
.contactInfo img {
  width: 15%;
}
.contactInfo .socialLink {
  display: flex;
}
.contactInfo .socialLink p {
  width: 140px;
}

/*reservation page*/
.reserveForm {
  .control-label {
    text-align: left;
  }
}

.topDownMap img {
  width: 100%;
}

/*overlay for javascript and jquery*/
.overlay {
  background: $main-dark-grey;
  opacity: 0.9;
  @include position(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;

  .btnClose {
    font-size: 400%;
    color: $white;
    text-align: center;
    margin-top: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  /*navbar inside the menu*/
  .navbar {
    margin-top: 60px;
    padding-left: 0;
    text-align: center;
    //display: none;
    li {
      list-style: none;
      margin: 10px;
      padding: 5px;
      a {
        color: $text-white;
        font: 1.5em Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }

  /*overlay buttons*/
  .btnRegOverlay {
    @extend .btnRegister;
    position: static;
    text-align: center;
  }
}

/*when the menu is triggered to show, disable main page scrolling beneath the overlay*/
.noScroll {
  overflow: hidden;
}

/*carousel*/
.carousel {
  height: 100%;
  width: 400%;
  margin: 0;
  padding: 0;
  position: relative;
  .slide {
    list-style: none;
    /*inline doesn't give elements size, inline-block adds white space*/
    float: right; /*float doesn't add white space between elements*/
    width: 25%;
  }
}

.pageDotContainer {
  @include position(absolute, $bottom: 5px, $left: 40%, $right: 40%);
  text-align: center;
  .pageDotGroup {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.pageDot {
  height: 16px;
  width: 16px;
  @include border-radius(50%);
  background: $clear-white;
  display: inline-block;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

/*carousel buttons*/
.carouselBtns {
  font-size: 2em;
  color: $main-green;
  width: 100%;
  @include position(absolute, $top: 50%);
  z-index: 10;
  #prev {
    opacity: 0.6;
    position: absolute;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  #next {
    @extend #prev;
    right: 0;
  }
  #start {
    @extend #prev;
    right: 25px;
  }
  #pause {
    @extend #start;
    display: none;
  }
}

/*carousel dots*/
.pageDot {
  background: $text-white;
  border: none;
  opacity: 0.8;
  &:hover {
    background: $light-dark-grey;
    cursor: pointer;
  }
}