/*background of the header*/
.header {
  position: relative;
  //background: url(../img/background_full.png) no-repeat center;
  //background-size: cover;
  overflow: hidden;
  z-index: 1;
  @include box-shadow(0, 0, 40px, $dim-grey);
  @at-root .shape {
    vertical-align: top;
    width: 100%;
  }
  @at-root .bgCanvas {
    @include position(absolute, $top: 0);
    width: 100%;
    height: 100%;
  }
}

/*background of other headers*/
.otherHeader {
  @extend .header;
  background: url(../img/restaurant_overview.png) no-repeat center;
  background-size: cover;
  h5 {
    @include position(relative, $left: 50%, $top: 20%);
    text-shadow: 0 0 50px $main-dark-grey;
    width: 40%;
    font: bold 2em Verdana, Geneva, Tahoma, sans-serif;
    color: $main-green;
  }
}

/*banner*/
.banner {
  background-color: $main-dark-grey;
  opacity: 0.8;
  height: 18%;
  position: relative;
  z-index: 1;
  .logoMenu {
    img {
      width: 36%;
      display: inline-block;
    }
  }
}

/*other banners*/
.otherBanner {
  @extend .banner;
  height: 34%;
}

/*menu button and logo*/
.btnMenu {
  display: inline;
  i {
    margin-left: 30px;
    vertical-align: middle;
    font-size: 2.5em;
    color: $clear-white;
  }
  .labelMenu {
    background-color: transparent;
    border-style: none;
    vertical-align: middle;
    color: $clear-white;
    font-size: 1.8em;
  }
  &:hover {
    cursor: pointer;
  }
}

/*register buttons*/
.btnRegister {
  @include position(absolute, $top: 20%, $right: 0);
  a {
    display: inline-block; // block elements have sizes;
    height: 40px;
    width: 120px;
    margin: 20px auto auto 10px;
    padding: 8px;
    font: 1.3em Verdana, Geneva, Tahoma, sans-serif;
    color: $text-white;
    text-decoration: none;
    text-align: center;
    border: 1px solid $clear-white;
  }
}

/*register buttons for other pages*/
.btnOtherRegister {
  @extend .btnRegister;
  @include position(absolute, $top: 5%, $right: 0);
}
