#menuWrap {
    .bigMenuItem {
        padding: 12px 6px 12px 6px;
        position: relative;
        a {
            height: 100%;
            width: 100%;
            text-align: center;
            img {
                width: 100%;
            }
            h2 {
                @include position(relative, $bottom: 180px);
                padding: 10px;
                font: bold 2em Verdana, Geneva, Tahoma, sans-serif;
                color: $main-green;
            }
        }
    }
}

#newsletter {
    text-align: center;
    h3 {
        color: $main-green;
        font-style: "brandon-grotesque", Helvetica, sans-serif;
    }
}

#bottom {
    margin-top: 50px;
    background-color: $main-dark-grey;
    text-align: center;
    #social {
        margin-top: 30px;
        padding: 20px;
        img {
            width: 4%;
            :hover {
                @include scale(-1, 1);
            }
        }
    }
    p {
        margin: 0;
        padding: 10px;
        color: $text-white;
    }
    #copyright {
        background-color: $main-green;
    }
}