#header {
    position: relative;
    background: url(../img/background_full.png) no-repeat;
    background-size: cover;
    background-position: center;
    #shaper {
        vertical-align: top;
        width: 100%;
    }
    @at-root .bgCanvas {
        @include position(absolute, $top: 0);
        width: 100%;
        height: 100%;
    }
}

#banner {
    background-color: $main-dark-grey;
    opacity: 0.8;
    height: 18%;
    #logoMenu {
        #logo {
            width: 30%;
            display: inline-block;
        }
        i {
            margin-top: 10px;
            font-size: 1.5em;
            color: $clear-white;
        }
        #btnMenu {
            background-color: transparent;
            border-style: none;
            margin-top: 10px;
            margin-left: 10px;
            color: $clear-white;
            font-size: 1.5em;
        }
    }
    .navbar {
        margin-top: 30px;
        padding-left: 0;
        text-align: center;
        visibility: hidden;
        li {
            list-style: none;
            margin: 10px;
            padding: 5px;
            a {
                color: $text-white;
                font: 1.5em Verdana, Geneva, Tahoma, sans-serif;
            }
        }
    }
    .btnRegister {
        a {
            color: $text-white;
            text-decoration: none;
            text-align: center;
        }
        button {
            background-color: transparent;
            border: 1px solid $clear-white;
            margin: 20px auto auto 10px;
            padding: 5px;
            color: $clear-white;
            width: 120px;
            height: 40px;
            font: 1.2em Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

#mainText {
    h1, h3 {
        color: $text-white;
        text-align: right;
    }
    @at-root .btnGreen {
        a {
            color: $text-white;
            text-decoration: none;
            text-align: center;
        }
        button {
            @include position(relative, $top: 30px);
            background: $main-green;
            border: 2px solid $clear-white;
            text-align: center;
            padding: 10px;
            font: 1.2em Verdana, Geneva, Tahoma, sans-serif;
            color: $clear-white;
        }
    }
}

#secondary {
    position: relative;
    background: url(../img/background_texture.png) no-repeat center;
    background-size: cover;
    background-position: center;
    text-align: center;
    #secondaryText {
        @include position(absolute, $top: 60px);
        h3 {
            color: $main-green;
            font: bold Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            margin-top: 10px;
            font: bold Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    #btnLocation {
        @include position(relative, $top: 20px);
    }
}